$back-orange: rgb(255, 187, 66);
$back-blue: rgb(112, 157, 202);
$back-lightgray: rgb(231, 237, 243);
$text-gray: rgb(128, 128, 128);
$text-darkgray: rgb(57, 75, 80);

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    margin: 0;
}

        /* HEADER */

header {
    width: 100%;
    height: 6vw;
    background-color: white;
}


.h-menu {
    background-image: url(../../assets/img/logo.png);
    background-size: 3vw;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    float: right;
    padding: 2vw 12vw 1.5vw 22vw;


    & a {
        color: rgb(134, 134, 134);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
        background-color: white;
        padding: 0.6vw 0.5vw;

}
}

.h-menu a:hover {
    background-color: rgb(255, 187, 66);
    color: white;
}



     /* BOOST BLOCK */



.blueblock {
    width: 100%;
    height: 35vw;
    background-color: rgb(112, 157, 202);


    & .boost {
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        letter-spacing: -0.1vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 2vw;
        padding: 5vw 10vw 0vw 10vw;
    }

    & p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 0vw 10vw 1vw 10vw;  
        font-size: 1vw;
        letter-spacing: 0.1vw;
    }

    & form {
        padding: 0vw 5vw 1vw 17vw;
    }

    & input {
        width: 16vw;
        height: 3vw;
        border: none;
        margin: 0vw 0.15vw;
        font-size: 1vw;
        padding: 0vw 0vw 0vw 3vw;
        color: rgb(128, 128, 128);
        text-align: left;
    }


    & input:focus {
        outline: none;
    }

    & .button:hover {
        background-color: rgb(255, 187, 66);
        color: white;
    }

    & img {
        max-width: 70%;
        padding-left: 30.5vw;
        padding-top: 1.5vw;
    }

    .name {
        background-image: url(../../assets/img/cool.svg);
        background-size: 1.5vw;
        background-repeat: no-repeat;
        background-position: 4% 50%;
    }
    .email {
        background-image: url(../../assets/img/mail.svg);
        background-size: 1.5vw;
        background-repeat: no-repeat;
        background-position: 4% 50%;
    }
    .tel {
        background-image: url(../../assets/img/mobile-phone.svg);
        background-size: 1.5vw;
        background-repeat: no-repeat;
        background-position: 4% 50%;
    }

}


   /*    SERVICES BLOCK    */



   .whiteblock {
    width: 100%;
    height: 60vw;
    background-color: white;

        & .services {
        color: rgb(57, 75, 80);
        font-size: 2.5vw;
        font-weight: bold;
        letter-spacing: -0.1vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 2vw;
        padding: 7vw 10vw 0vw 10vw;
}

        & p {
        color: rgb(57, 75, 80);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 0vw 10vw 1vw 10vw;  
        font-size: 1vw;
        letter-spacing: 0.1vw;
}

        .services_container {
        display: flex;
}



            .left_container, 
            .right_container {
            flex: 1;
            display: flex;
            flex-direction: column;
            font-size: 0.9vw;
            font-weight: normal;
            color: rgb(57, 75, 80);
            line-height: 1.5vw;
}


            .left_container h3, 
            .right_container h3 {
            font-size: 1vw;
            font-weight: bold;
            color: rgb(57, 75, 80);
}


            .text1_l,
            .text2_l,
            .text3_l {
            padding: 5vw 3vw 1vw 20vw;
            background-image: url(../../assets/img/mail.svg);
            background-size: 3vw;
            background-repeat: no-repeat;
            background-position: 33% 58%; 
}

            .text1_r,
            .text2_r,
            .text3_r {
            padding: 5vw 14vw 1vw 7vw;
            background-image: url(../../assets/img/mail.svg);
            background-size: 3vw;
            background-repeat: no-repeat;
            background-position: 5% 58%;
}
}


            /* ABOUT US BLOCK */

.aboutus {
    display: flex;
    width: 100%;
    height: 30vw;

    .deskpic {
        // flex: 1;
        flex: 50%;
        background-image: url(../../assets/img/aboutus.png);
        background-repeat: no-repeat;
        background-size: 100%;
    
}

    .about_us_text {
        // flex: 1;
        flex: 50%;
        background-color: rgb(255, 187, 66);
        color: white;
        font-size: 0.9vw;
        font-weight: normal;
        line-height: 1.5vw;
        padding: 6vw 10vw 0vw 7vw;


        & p {
            padding: 0vw 0vw 1vw 0vw;
}

        & h2 {
            font-size: 2vw;
}

        & a {
            text-decoration: none;
            color: white;
            font-size: 0.9vw;
            padding: 1vw 1.5vw;
            border: 1px solid rgb(235, 187, 66);
        }

        & a:hover {
            border: 1px solid rgb(233, 180, 46);
        }
        & a:active {
            border: 1px solid rgb(236, 194, 88);
        }
}
}



        /* PRICE BLOCK */


.priceblock {
    width: 100%;
    height: 50vw;
    background-color: rgb(231, 237, 243);



    & .services {
        color: rgb(57, 75, 80);
        font-size: 2.5vw;
        font-weight: bold;
        letter-spacing: -0.1vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 2vw;
        padding: 7vw 10vw 0vw 10vw;
        }
        
    & p {
        color: rgb(129, 139, 149);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 0.9vw;
        letter-spacing: 0.1vw;
        }

    .pricecontainer {
        display: flex;
        justify-content: center;
        margin: 3vw;
}

        & h3 {
            font-weight: normal;
            color: rgb(129, 139, 149);
}

        .permonth {
            color: rgb(255, 187, 66);
            font-size: 4vw;
            line-height: 2vw;
            margin: 1vw 1vw 0vw 0vw;
}
        .price-left, .price-middle, .price-right {
            text-align: center;
            padding: 1vw;
            margin: 2vw 0vw;
            width: 22vw;
            height: 30vw;
            background-color: white;
}

        .price-left a, .price-middle a, .price-right a {
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1vw;
            background-color: rgb(255, 187, 66);
            padding: 0.6vw 0.5vw;  
}

        .p {
            margin-bottom: 3vw;
}

        .p p {
            border-top: 1px solid rgb(205, 208, 212);
            padding: 1vw 0vw 0vw 0vw;
            color: rgb(181, 187, 193);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 0.9vw;
            letter-spacing: 0.1vw;
}

        .price-left:hover, .price-middle:hover, .price-right:hover {
            text-align: center;
            padding: 3vw 2vw;
            margin: 0;
            width: 22vw;
            height: 34vw;
            background-color: rgb(112, 157, 202);
}

        .price-left:hover h3, .price-middle:hover h3, .price-right:hover h3 {
            color: white;
}

        .price-left:hover .permonth, .price-middle:hover .permonth, .price-right:hover .permonth {
            color: white;
}

        .price-left:hover .permonth p, .price-middle:hover .permonth p, .price-right:hover .permonth p {
            color: white;
}
}



@media only screen and (max-width: 850px) {
    .priceblock{
    .pricecontainer{  
    .price-left, .price-middle, .price-right {
        padding: 0;
        margin: 0;
    }
}
}
}






