* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* HEADER */
header {
  width: 100%;
  height: 6vw;
  background-color: white;
}

.h-menu {
  background-image: url(../../assets/img/logo.png);
  background-size: 3vw;
  background-repeat: no-repeat;
  background-position: 0% 70%;
  float: right;
  padding: 2vw 12vw 1.5vw 22vw;
}

.h-menu a {
  color: #868686;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  background-color: white;
  padding: 0.6vw 0.5vw;
}

.h-menu a:hover {
  background-color: #ffbb42;
  color: white;
}

/* BOOST BLOCK */
.blueblock {
  width: 100%;
  height: 35vw;
  background-color: #709dca;
}

.blueblock .boost {
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: -0.1vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 2vw;
  padding: 5vw 10vw 0vw 10vw;
}

.blueblock p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0vw 10vw 1vw 10vw;
  font-size: 1vw;
  letter-spacing: 0.1vw;
}

.blueblock form {
  padding: 0vw 5vw 1vw 17vw;
}

.blueblock input {
  width: 16vw;
  height: 3vw;
  border: none;
  margin: 0vw 0.15vw;
  font-size: 1vw;
  padding: 0vw 0vw 0vw 3vw;
  color: gray;
  text-align: left;
}

.blueblock input:focus {
  outline: none;
}

.blueblock .button:hover {
  background-color: #ffbb42;
  color: white;
}

.blueblock img {
  max-width: 70%;
  padding-left: 30.5vw;
  padding-top: 1.5vw;
}

.blueblock .name {
  background-image: url(../../assets/img/cool.svg);
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 4% 50%;
}

.blueblock .email {
  background-image: url(../../assets/img/mail.svg);
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 4% 50%;
}

.blueblock .tel {
  background-image: url(../../assets/img/mobile-phone.svg);
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 4% 50%;
}

/*    SERVICES BLOCK    */
.whiteblock {
  width: 100%;
  height: 60vw;
  background-color: white;
}

.whiteblock .services {
  color: #394b50;
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: -0.1vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 2vw;
  padding: 7vw 10vw 0vw 10vw;
}

.whiteblock p {
  color: #394b50;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0vw 10vw 1vw 10vw;
  font-size: 1vw;
  letter-spacing: 0.1vw;
}

.whiteblock .services_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whiteblock .left_container,
.whiteblock .right_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9vw;
  font-weight: normal;
  color: #394b50;
  line-height: 1.5vw;
}

.whiteblock .left_container h3,
.whiteblock .right_container h3 {
  font-size: 1vw;
  font-weight: bold;
  color: #394b50;
}

.whiteblock .text1_l,
.whiteblock .text2_l,
.whiteblock .text3_l {
  padding: 5vw 3vw 1vw 20vw;
  background-image: url(../../assets/img/mail.svg);
  background-size: 3vw;
  background-repeat: no-repeat;
  background-position: 33% 58%;
}

.whiteblock .text1_r,
.whiteblock .text2_r,
.whiteblock .text3_r {
  padding: 5vw 14vw 1vw 7vw;
  background-image: url(../../assets/img/mail.svg);
  background-size: 3vw;
  background-repeat: no-repeat;
  background-position: 5% 58%;
}

/* ABOUT US BLOCK */
.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30vw;
}

.aboutus .deskpic {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-image: url(../../assets/img/aboutus.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.aboutus .about_us_text {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #ffbb42;
  color: white;
  font-size: 0.9vw;
  font-weight: normal;
  line-height: 1.5vw;
  padding: 6vw 10vw 0vw 7vw;
}

.aboutus .about_us_text p {
  padding: 0vw 0vw 1vw 0vw;
}

.aboutus .about_us_text h2 {
  font-size: 2vw;
}

.aboutus .about_us_text a {
  text-decoration: none;
  color: white;
  font-size: 0.9vw;
  padding: 1vw 1.5vw;
  border: 1px solid #ebbb42;
}

.aboutus .about_us_text a:hover {
  border: 1px solid #e9b42e;
}

.aboutus .about_us_text a:active {
  border: 1px solid #ecc258;
}

/* PRICE BLOCK */
.priceblock {
  width: 100%;
  height: 50vw;
  background-color: #e7edf3;
}

.priceblock .services {
  color: #394b50;
  font-size: 2.5vw;
  font-weight: bold;
  letter-spacing: -0.1vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 2vw;
  padding: 7vw 10vw 0vw 10vw;
}

.priceblock p {
  color: #818b95;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: 0.1vw;
}

.priceblock .pricecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3vw;
}

.priceblock h3 {
  font-weight: normal;
  color: #818b95;
}

.priceblock .permonth {
  color: #ffbb42;
  font-size: 4vw;
  line-height: 2vw;
  margin: 1vw 1vw 0vw 0vw;
}

.priceblock .price-left, .priceblock .price-middle, .priceblock .price-right {
  text-align: center;
  padding: 1vw;
  margin: 2vw 0vw;
  width: 22vw;
  height: 30vw;
  background-color: white;
}

.priceblock .price-left a, .priceblock .price-middle a, .priceblock .price-right a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  background-color: #ffbb42;
  padding: 0.6vw 0.5vw;
}

.priceblock .p {
  margin-bottom: 3vw;
}

.priceblock .p p {
  border-top: 1px solid #cdd0d4;
  padding: 1vw 0vw 0vw 0vw;
  color: #b5bbc1;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: 0.1vw;
}

.priceblock .price-left:hover, .priceblock .price-middle:hover, .priceblock .price-right:hover {
  text-align: center;
  padding: 3vw 2vw;
  margin: 0;
  width: 22vw;
  height: 34vw;
  background-color: #709dca;
}

.priceblock .price-left:hover h3, .priceblock .price-middle:hover h3, .priceblock .price-right:hover h3 {
  color: white;
}

.priceblock .price-left:hover .permonth, .priceblock .price-middle:hover .permonth, .priceblock .price-right:hover .permonth {
  color: white;
}

.priceblock .price-left:hover .permonth p, .priceblock .price-middle:hover .permonth p, .priceblock .price-right:hover .permonth p {
  color: white;
}

@media only screen and (max-width: 850px) {
  .priceblock .pricecontainer .price-left, .priceblock .pricecontainer .price-middle, .priceblock .pricecontainer .price-right {
    padding: 0;
    margin: 0;
  }
}
